@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  --fs-2xs: 12px;
  --fs-xxs: 14px;
  --fs-xs: 15px;
  --fs-s: 16px;
  --fs-sm: 18px;
  --fs-md: 24px;
  --fs-lg: 30px;
  --fs-xl: 42px;
}
/* /===== font-size =====/ */
.fs-2xs {
  font-size: var(--fs-2xs);
}
.fs-xxs {
  font-size: var(--fs-xxs);
}
.fs-xs {
  font-size: var(--fs-xs);
}
.fs-s {
  font-size: var(--fs-s);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-xl {
  font-size: var(--fs-xl);
}
/* =====font-family===== */

.ff-lato {
  font-family: "Lato", sans-serif;
}
/* ====colors ====*/
.grey {
  color: #3c3c3c;
}
.text-green {
  color: #4b8f35;
}
.text-grey {
  color: #7f7f7f;
}
/* ===== btn =======*/
.yellowbtn {
  background-color: #faa100;
  border-radius: 5px;
  padding: 8px 32px;
  border: none;
  color: white;
  font-size: var(--fs-xs);
  border: 1px solid transparent;
  transition: all 200ms linear;
}
.yellowbtn:hover {
  background-color: white;
  border: 1px solid #faa100;
  color: #faa100;
}
.callbtn {
  border: 1px solid #4b8f35;
  padding: 6px 12px;
  border-radius: 5px;
  color: #4b8f35;
}
/* navbar */
.my-container {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.logo {
  width: 69px;
  height: 51px;
}
.navlinks {
  transition: all 300ms linear;
  padding-right: 14px;
}
.navlinks:hover {
  color: #4b8f35;
}
.cart-count {
  position: absolute;
  top: -5px;
  right: -4px;
  background-color: #3c3c3c;
  color: white;
  font-size: 10px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  font-weight: 400;
}
/* Mobile styles */
.mobile-nav {
  display: none;
  flex-direction: column;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 2px;
  width: 24px;
  background: #333;
  margin: 3px 0;
}

/*===== header-section==== */
.swiper.mySwiper {
  width: 100%;
  height: 87vh;
}

.mySwiper .swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.slide_1 {
  background-image: url("/assets//images//headerbg.png");
}

.slide_2 {
  background-image: url("/assets//images//crop-3.png");
  position: relative;
}

.slide_3 {
  background-image: url("/assets//images/crop-1.png");
}

.slide_4 {
  background-image: url("/assets//images/crop-2.png");
}

.slide_2::after,
.slide_3::after,
.slide_4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #4b8f35 !important;
  border: 1px solid #4b8f35;
  transition: 300ms;
}
.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: transparent;
  border: 1px solid #4b8f35;
  transition: 300ms;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 3px);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -18px);
}

.dots {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #faa100;
}
.mt-12 {
  margin-top: 12px;
}

/* second-section */

.videoplay {
  width: 100%;
  height: 250px !important;
  border-radius: 10px;
}
video[poster] {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.crop-img {
  width: 100%;
  height: 167px;
  transition: 200ms;
}
.crop-img:hover {
  scale: 1.1;
}

.pl-15 {
  padding-left: 15px;
}
/* testimonials */

.bg-light {
  background-color: #fbfbfb;
}

.testimonial-slider {
  position: relative;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.testimonial-card {
  width: 513px;
  height: 392px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}

.green-card {
  background-color: #4B8F35;
}

.white-card {
  background-color: #f5f5f5;
}

.testimonial-profile {
  text-align: center;
}

.testimonial-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial-profile h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.testimonial-profile p {
  font-size: 0.9rem;
  color: gray;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-top: 50px;
  right: unset !important;
  left: unset !important;
  padding: 0 !important;
  width: 43px;
}
.swiper-button-prev {
  transform: rotate(180deg);
}

/* /======================== latest-news ===========================/ */
.card-img-top {
  width: 100%;
  height: 236px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.khaki {
  color: #dea235;
}
.read-more-btn {
  color: #4b8f35;
  border-bottom: 1px solid #4b8f35;
}

.card-title {
  font-weight: 700;
  font-size: var(--fs-sm);
  max-width: 335px;
}
.text-line {
  border-bottom: 2px solid #dea235;
}
/* /======================== accordian ===========================/ */

.accordion-item {
  background-color: white !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 10px !important;
}
.accordion-button::before {
  margin-right: 12px;
  content: "";
  background-color: #4b8f35;
  padding: 16px;
  border-radius: 5px;
  background-image: url(/assets//images//plus.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button {
  border-radius: 10px !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-button::after {
  display: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: white;
}
.accordion-button:not(.collapsed)::before {
  margin-right: 12px;
  content: "";
  background-color: #4b8f35;
  padding: 16px;
  border-radius: 5px;
  background-image: url(/assets/images/minus.jpg);
  background-repeat: no-repeat;
  background-size: 50% 10%;
  background-position: center;
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-body {
  padding-top: 0;
}
/* /========================= footer=========================/ */
.bg-brown {
  background-color: #493223;
}
.footerlink{
  transition: all 200ms linear;
}
.footerlink:hover{
  opacity: 60%;
}
.pl-0 {
  padding-left: 0;
}
.outline-none {
  outline: none;
}
.inputbox {
  border-radius: 5px;
  background-color: white;
  border: none;
  max-width: 600px;
}
.border-none {
  border: none;
}
.inputfield {
  border-radius: 5px;
}
.footerlogo {
  width: 68px;
  height: 78px;
}
.footerlinks {
  transition: all 300ms linear;
  border-radius: 10px;
}
.footerlinks:hover {
  box-shadow: 0 0 16px #fff;
}
.h-1 {
  height: 1px;
}
.bg-grey {
  background-color: #f9f9f9;
  opacity: 50%;
}
.rounded {
  border-radius: 0px 5px 5px 0 !important;
}

@media (max-width: 1200px) {
  .hamburger {
    display: flex;
    z-index: 1001;
    position: relative;
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    border: 1px solid #ddd;
    z-index: 1000;
    transition: 200ms linear;
  }

  .mobile-nav ul {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .mobile-nav.show {
    left: 0% !important;
    opacity: 1 !important;
    visibility: visible;
  }
}
@media (max-width: 768px) {
  .testimonial-card {
    max-width: 90%;
  }
}
@media (min-width: 576px) {
  .w-200 {
    width: 200px;
  }
  .logo {
    width: 129px;
    height: 91px;
  }
  .h-136 {
    height: 136px;
  }
  .yellowbtn {
    padding: 12px 30px;
  }
  .card-title {
    line-height: 39px;
  }
  .footerlogo {
    width: 98px;
    height: 118px;
  }
  .hamburger span {
    height: 4px;
    width: 37px;
    margin: 4px 0;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -48px);
  }
}
@media (min-width: 769px) {
  :root {
    --fs-2xs: 14px;
    --fs-xxs: 16px;
    --fs-xs: 18px;
    --fs-s: 20px;
    --fs-sm: 24px;
    --fs-md: 30px;
    --fs-lg: 50px;
    --fs-xl: 50px;
  }
  .crop-img {
    width: 100%;
    height: 100%;
  }
  .accordion-item {
    padding: 12px 22px;
  }
  .accordion-button::before {
    margin-right: 32px;
  }
  .accordion-button:not(.collapsed)::before {
    margin-right: 32px;
  }
  .accordion-body {
    padding-left: 80px;
    line-height: 35px;
  }
}
@media (min-width: 992px) {
  .max-w-436 {
    max-width: 436px;
  }

  .pl-lg-15 {
    padding-left: 15px;
  }
  .max-w-518 {
    max-width: 518px;
  }
  .inputbox {
    border-radius: 5px;
    background-color: white;
    border: none;
  }
}
@media (min-width: 1200px) {
  .videoplay {
    height: 550px !important;
    object-fit: cover;
  }
  video[poster] {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .my-container {
    max-width: 1340px;
  }
}
